@use "../assets/styles/mixins" as mixin;

footer {
  width: 100%;
  min-height: 200px;
  background-color: var(--primary200);
  padding: 10px;
  height: fit-content;
  flex-direction: column;
  .sections_div {
    display: flex;
    width: 100%;
    min-height: 150px;
    @include mixin.md-lt {
      flex-direction: column;
    }

    .footer_div {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 150px;
      justify-content: flex-start;
      align-items: center;
      .logo {
        height: 60px;
        cursor: pointer;
        margin-top: 10px;
      }
      p {
        color: var(--primary600);
        text-align: center;
        margin: 0;
      }
      h2 {
        color: var(--primary900);
        font-family: var(--font-title);
        margin-bottom: 10px;
      }
      nav {
        display: flex;
        flex-direction: column;
        a {
          cursor: pointer;
          color: var(--primary600);
          width: 100%;
          text-align: center;
          // text-decoration: none;
          &:hover {
            font-weight: 700;
          }
          @include mixin.md-lt {
            padding: 5px 0px;
          }
        }
      }
    }
  }
  .socials_footer {
    gap: 10px;
    font-size: 1rem;
    color: var(--primary600);
    a {
      background-color: white;
      border: 3px solid var(--primary600);
      border-radius: 10px;
      padding: 5px 10px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        -webkit-animation: jello-horizontal 0.8s ease-in-out;
        animation: jello-horizontal 0.8s ease-in-out;
      }
    }
  }
  .Copyright {
    font-family: var(--font-title);
    color: var(--primary900);
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    @include mixin.md-lt {
      padding-bottom: 50px;
    }
  }
  .Zooplus {
    background-image: url("./img/Zooplus.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
  .Spa {
    background-image: url("./img/Spa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
  h2 {
    color: var(--primary900);
    font-family: var(--font-title);
    margin-bottom: 10px;
  }
}
.icons {
  color: var(--primary800);
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
