h1 {
  color: var(--primary900);
  font-size: 60px;
  font-family: "Caveat Brush";
  text-align: center;
}

h2 {
  color: var(--primary900);
  font-size: 40px;
  font-family: "Caveat Brush";
  text-align: center;
}
