.Contact {
  background-image: url("../../../img/Contact_BG.webp");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  input {
    border: 1px solid var(--primary800);
    border-radius: 10px;
    padding: 10px;
    outline-color: var(--primary);
    &::placeholder {
      opacity: 0.7;
      font-style: italic;
    }
  }
  textarea {
    border: 1px solid var(--primary800);
    border-radius: 10px;
    padding: 10px;
    outline-color: var(--primary);
    min-width: 300px;
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
    &::placeholder {
      opacity: 0.7;
      font-style: italic;
    }
  }
}
