.btn {
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: var(--primary600);
  color: white;
  border: 2px solid var(--primary600);
}

.btn-reverse-primary {
  border: 2px solid var(--primary600);
  color: var(--primary600);
  background-color: none;
}

.btn-nav {
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s opacity;
  font-size: 16px;
  font-weight: 800;
  font-family: var(--font-family);

  &:hover {
    opacity: 0.8;
  }
}

.btn-nav-primary {
  background-color: var(--primary900);
  color: white;
  border: 2px solid var(--primary900);
}

.btn-nav-reverse-primary {
  border: 2px solid transparent;
  color: var(--primary900);
  background-color: transparent;
}

.card {
  border-radius: 20px;
  background-color: white;
}

.c-p {
  color: var(--primary);
}

.c-p600 {
  color: var(--primary600);
}
