:root {
  --primary950: #312219;
  --primary900: #5d4431;
  --primary800: #72523a;
  --primary700: #8d6541;
  --primary600: #a97d4d;
  --primary500: #b79058;
  --primary: #b79058;
  --primary300: #d5c39c;
  --primary200: #e5dbc3;
  --primary100: #f3eee1;
  --primary50: #faf7f2;
  --gray-1: #20232a;
  --gray-2: #efefef;
  --font-family: "Poppins", sans-serif;
  --font-title: "Caveat Brush", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #444;
  --swiper-theme-color: #72523a;
}
