@use "../../assets/styles/mixins" as mixin;

.catcard {
  gap: 10px;
  padding: 20px 20px;
  max-width: 300px;
  height: 460px;
  text-align: center;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
  color: black;
  overflow: hidden;
  &:visited {
    text-decoration: none;
    color: black;
  }
  img {
    max-width: 200px;
    max-height: 200px;
    @include mixin.md-lt {
      max-width: 75%;
    }
  }
  h3 {
    font-size: 24px;
    color: var(--primary900);
  }
  p {
    margin: 0;
  }
}
