.Informations {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/challe-de-jeux.appspot.com/o/backgrounds%2FInfo_bg-min.webp?alt=media&token=0a9b7419-2d77-4dd5-9ee0-a841d0071834");
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
  padding-bottom: 0px;
  height: fit-content;
}
