.Informations {
  background-image: url("../../../../../public/img/Info_bg-min.webp");
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
  padding-bottom: 0px;
  height: fit-content;
}
